:root {
  --body-color: gray;
}

#root {
  max-width: 1500px;

  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--body-color);
  gap: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link-section {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.resume {
  display: flex;
  flex-direction: column;
  color: black;

  min-width: 800px;
}

.resume-section {
  min-height: 800px;

  padding: 1rem;
  background-color: azure;
}

.sub-title {
  text-align: left;
}

.line {
  background-color: black;
  border: none;
  padding: 1px;
}

ul {
  list-style-position: inside;
}

.list-padding {
  padding-left: 1rem;
}

.skill {
  text-align: left;
}

.editor {
  background-color: aliceblue;
  color: black;
  min-width: 500px;
  min-height: 800px;
  padding: 1rem;
}

.school-section {
  text-align: left;
  width: 100%;
}

.top-school-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
